<nav class="navbar navbar-expand-md navbar-dark bg-info">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']"> Dating App </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsDefault">

      <ul *ngIf="loggedIn" class="navbar-nav mr-auto mt-1">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/members']"> Matches</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/lists']">Lists</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/messages']">Messages</a>
        </li>
      </ul>

      <div *ngIf="loggedIn" class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle text-light my-2" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="mr-2">
              <img src="{{ photoUrl }}" alt="">
          </span>
          Welcome {{ authService.decodeToken?.unique_name | titlecase}}
        </button>
        <div class="dropdown-menu mt-2" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" [routerLink]="['/member/edit']">
            <i class="fas fa-user mr-2"></i> Edit Profile
          </a>
          <a class="dropdown-item" (click)="logout()">
            <i class="fas fa-sign-out-alt mr-2"></i> Logout
          </a>
        </div>
      </div>

      <div *ngIf="!loggedIn" class="my-2 ml-auto">
        <form #loginForm="ngForm" class="form-inline my-4 my-lg-0" (ngSubmit)="login()">
          <input class="form-control mr-sm-2" type="text"     name="username" placeholder="Username"
          [(ngModel)]="model.username" #username="ngModel" required>
          <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password"
          [(ngModel)]="model.password" #password="ngModel" required>
          <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>
</nav>
